<section class="content">
  {% if page.bpmn %}
    <h3>Process (BPMN)</h3>
    {% include bpmn.liquid url=page.bpmn %}
  {% endif %}
  <article class="markdown-body">
    {{ content }}
  </article>
</section>
