<style>
  nav.foundation-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    background: none;
  }
  @media only screen and (min-width:400px) {
    nav.foundation-nav {
      padding: 1rem;
    }
  }
  @media only screen and (min-width:64em) {
    nav.foundation-nav {
      padding: 1rem 4em;
    }
  }

  nav.foundation-nav ul {
    list-style: none;
    margin: 0;
  }
  nav.foundation-nav ul li {
    padding: 0;
    display: inline-block;
  }

  nav.foundation-nav a:link, header a:visited {
    font-weight: normal;
    border-bottom: none;
    padding: 1rem;
  }

  nav.foundation-nav a.logo-mark {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    text-decoration: none;
  }
  @media only screen and (min-width:500px) {
    nav.foundation-nav a.logo-mark {
      font-size: 2em;
    }
  }
  @media only screen and (min-width:400px) and (max-width:500px) {
    nav.foundation-nav a.logo-mark {
      font-size: 1.5em;
    }
  }
  nav.foundation-nav a.logo-mark>img {
    height: 2em;
    margin-right: 0.5em;
  }
  nav.foundation-nav a.logo-mark>p {
    font-weight: bold;
    margin: 0;
  }
</style>

<nav class="foundation-nav">
  <a href="https://publiccode.net/" title="Homepage of the Foundation For Public Code" class="logo-mark">
    <img src="https://brand.publiccode.net/logo/mark.svg" alt="The mark of the Foundation For Public Code looks like a little greek temple, or government building, in a hexagon">
    <p>Foundation For Public Code</p>
  </a>
  <ul>
    <li><a href="https://about.publiccode.net/" title="About of the Foundation For Public Code">About</a>
    <li><a href="https://projects.publiccode.net/" title="Projects">Projects</a>
  </ul>
</nav>
