<main>
  {% if site.show_breadcrumbs %}
    {% include breadcrumbs.liquid %}
  {% endif %}

  {% if site.show_navigation == true %}

    <nav id="site-nav">
      <input type="checkbox" id="show-site-nav"></input><label for="show-site-nav">Menu</label>
      {% include navigation.liquid context="/" %}
    </nav>

  {% endif %}

  {% include content.liquid %}

  {% include sidebar.liquid %}

</main>
