@import url("github-markdown.css");
@import url("rouge-highlight.css");
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700');


/* GENERAL */

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  background: #fdfdfd;
}

hr {
  border: none;
  border-bottom: 1px solid #ddd;
}
body>hr {
  margin: 0;
}

nav.foundation-nav, header, main, footer {
  max-width: 60em;
  margin: auto;
  box-sizing: border-box;
}

header, main, footer {
  background: white;
}

p, h1, h2, h3, h4, h5, li {
  max-width: 35em
}

a:link, a:visited {
  text-decoration: underline;
  color: black;
}
a:link {
  text-decoration-color: blue;
}
a:visited {
  text-decoration-color: purple;
}
a:link[href^='#'], a:visited[href^='#'] {
  text-decoration-color: darkgrey;
}
a:hover {
  background: rgba(0,0,0,0.05);
}

main {
  display: flex;
  flex-wrap: wrap;
}
ul.table-of-contents {
  list-style: none;
  flex: 1;
  padding: 4em 2em;
  overflow: hidden;
  border-left: 1px solid #fdfdfd;
}
ul.table-of-contents:before {
  content: 'On this page';
  /* text-transform: uppercase; */
  color: #eaecef;
  /* font-weight: bold; */
  text-align: center;
  font-size: 1em;
  line-height: 2;
  display: block;
  border-bottom: 1px solid;
}

ul.table-of-contents li {
  margin: .5em 0;
}
ul.table-of-contents>li {
  font-size: 1.15rem;
  padding-bottom: 0.5em;
}
ul.table-of-contents>li>ul>li {
  font-size: 1rem;
}
ul.table-of-contents>li ul {
  padding-left: 1em;
  list-style: none;
}

main section.content {
  padding-top: 2em;
  width: 100%;
}
main.with-toc section.content {
  max-width: 42em;
}
main article {
  padding: 2em;
}
main .edit-links {
  text-align: right;
  padding: 4em 2em 1em;
}
main .edit-links a {
  padding: 0.5em;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 2px;
  display: inline-block;
}
main .edit-links a svg {
  vertical-align: -2px;
}
