@import url("github-markdown.css");
@import url("rouge-highlight.css");
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700');


/* 
 * General elements
*/

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  background: whitesmoke;
}

hr {
  border: none;
  border-bottom: 1px solid lightgrey;
}

p, h1, h2, h3, h4, h5, li {
  max-width: 35em;
}

a:link, a:visited {
  text-decoration: underline;
  color: black;
}
a:link {
  text-decoration-color: blue;
}
a:visited {
  text-decoration-color: purple;
}
a:link[href^='#'], a:visited[href^='#'] {
  text-decoration-color: darkgrey;
}
a:hover {
  background: whitesmoke;
}

/* 
 * Layout
*/

body>hr {
  margin: 0;
}

body>*:not(hr) {
  box-sizing: border-box;
  max-width: 75em;
  margin: auto;
}
body.with-site-nav>*:not(hr) {
  max-width: 100em;
}

body>nav.foundation-nav, body>header, body>footer {
  padding: 1em;
  background-color: white;
}

@media only screen and (min-width:68em) {
  body>nav.foundation-nav, body>header, body>footer {
    padding: 2em 4em;
  }
}

/* 
 * Foundation Navigation
*/

nav.foundation-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  background: none;
}
@media only screen and (min-width:400px) {
  nav.foundation-nav {
    padding: 1rem;
  }
}
@media only screen and (min-width:64em) {
  nav.foundation-nav {
    padding: 1rem 4em;
  }
}

nav.foundation-nav ul {
  list-style: none;
  margin: 0;
}
nav.foundation-nav ul li {
  padding: 0;
  display: inline-block;
}

nav.foundation-nav a:link, header a:visited {
  font-weight: normal;
  border-bottom: none;
  padding: 1rem;
}

nav.foundation-nav a.logo-mark {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  text-decoration: none;
}
@media only screen and (min-width:500px) {
  nav.foundation-nav a.logo-mark {
    font-size: 2em;
  }
}
@media only screen and (min-width:400px) and (max-width:500px) {
  nav.foundation-nav a.logo-mark {
    font-size: 1.5em;
  }
}
nav.foundation-nav a.logo-mark>img {
  height: 2em;
  margin-right: 0.5em;
}
nav.foundation-nav a.logo-mark>p {
  font-weight: bold;
  margin: 0;
}

/* 
 * Site header
*/

header .site-title {
  padding: 1em 1rem;
  font-size: 1.5em;
}
@media only screen and (min-width:400px) {
  header .site-title {
    font-size: 2em;
    padding: 1.5em 2rem;
  }
}
@media only screen and (min-width:700px) {
  header .site-title.home {
    font-size: 4em;
  }
}
header .site-title a {
  text-decoration: none;
}
header .site-title a:hover {
  text-decoration: underline;
}

/* 
 * Site navigation
*/

input#show-site-nav {
  display: none;
}
input#show-site-nav ~ label:before {
  content: 'Open '
}
input#show-site-nav:checked ~ label:before {
  content: 'Close '
}

nav#site-nav {
  flex: 0 0 100%;
  padding: 0;
}
nav#site-nav>ul {
  display: none;
}
label[for=show-site-nav] {
  display: block;
}
nav#site-nav a.active {
  font-weight: bold;
}

input#show-site-nav ~ label {
  margin: 1em;
  padding: 1rem;
  text-decoration: none;
  border: 1px solid grey;
  border-radius: 2px;
  display: block;
}
input#show-site-nav ~ label:hover, input#show-site-nav:checked ~ label {
  background: lightgrey;
}
input#show-site-nav:checked ~ ul {
  display: block;
}
@media only screen and (min-width: 900px) {
  nav#site-nav {
    /* flex: 0 0 auto; */
  }
}

@media only screen and (min-width: 1200px) {
  nav#site-nav {
    flex: 1 2 300px; 
    padding: 0 2em;
    border-right: 1px solid lightgrey;
  }
  nav#site-nav>ul:before {
    content: 'Pages on this site'
  }
  nav#site-nav label[for=show-site-nav] {
    display: none;
  }
  nav#site-nav>ul {
    display: inherit;
  }
}

/* 
 * Main content
*/

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media only screen and (min-width: 900px) {
  main {
    flex-direction: row;
  }
}

main section.content {
  flex: 2 2 auto;
  background: white;
}
main section.content article {
  padding: 2em;
}

@media only screen and (min-width:1200px) {
  main section.content {
    padding: 2em;
  }
}
@media only screen and (min-width:1400px) {
  main section.content {
    padding: 4em;
  }
}

/*
 * Sidebar
 */

main section.sidebar {
  flex: 1 2 300px; 
  box-sizing: border-box;
  background: white;
  display: flex;
  flex-direction: column;
}

/*
 * Table of contents
*/

ul.table-of-contents:before {
  content: 'On this page';
}

/*
 * Navigation lists
*/

ul.table-of-contents:before, nav#site-nav>ul:before {
  color: lightgrey;
  text-align: center;
  font-size: 1em;
  line-height: 2;
  display: block;
  border-bottom: 1px solid;
}

ul.table-of-contents, nav#site-nav>ul {
  /* min-width: 320px; */
  list-style: none;
  flex: 1 1 auto;
  overflow: hidden;
  margin: 0 0;
  padding: 2em;
  box-sizing: border-box;
}

@media only screen and (min-width:1400px) {
  ul.table-of-contents, nav#site-nav>ul {
    padding: 5em 2em;
    /* max-width: 17rem; */
  }
}

ul.table-of-contents li, nav#site-nav>ul li {
  margin: .5em 0;
}
ul.table-of-contents>li, nav#site-nav>ul>li {
  font-size: 1.15rem;
  padding-bottom: 0.5em;
}
ul.table-of-contents>li ul, nav#site-nav>ul>li ul {
  padding-left: 1em;
  list-style: none;
}
ul.table-of-contents>li>ul>li, nav#site-nav>ul>li>ul>li {
  font-size: 1rem;
}

/*
 * Breadcrumbs
 */

#theme-breadcrumbs {
  padding: 0 0 1em 0;
  background-color: white;
  flex-basis: 100%;
}
@media only screen and (min-width:900px) {
  #theme-breadcrumbs {
    padding: 0 2em 2em;
  }
}

#theme-breadcrumbs ul {
  padding: .5em;
  margin: 0;
  list-style: none;
  line-height: 2em;
}
#theme-breadcrumbs li {
  display: inline-block;
  margin: -1.15em 0;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#theme-breadcrumbs li:not(:nth-last-of-type(1))::after {
  content: '›';
  display: inline-block;
  opacity: 0.1;
  font-size: 1em;
  padding: .5em;
  line-height: 0;
}

/* 
 * Edit links
*/

main .edit-links {
  padding-left: 2em;
}
main .edit-links li {
  list-style-type: none;
}
main .edit-links li a {
  margin-bottom: 0.5em;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid lightgrey;
}
main .edit-links li a:link {
  border-bottom: 1px solid blue;
}
main .edit-links li a:visited {
  border-bottom: 1px solid purple;
}
main .edit-links a svg {
  vertical-align: -2px;
}

/* 
 * Footer
 */

footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

footer section {
  padding: 1rem;
}

@media print {
  body>nav.foundation-nav ul, nav#site-nav, section.sidebar {
    display: none !important;
  }
  main {
    display: block !important;
  }
}
