@import url("github-markdown.css");
@import url("rouge-highlight.css");
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700');


/* GENERAL */

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
  background: #fdfdfd;
}

hr {
  border: none;
  border-bottom: 1px solid #ddd;
}
body>hr {
  margin: 0;
}

nav.foundation-nav, header, main, footer {
  max-width: 60em;
  margin: auto;
  box-sizing: border-box;
}

header, main, footer {
  background: white;
}

p, h1, h2, h3, h4, h5, li {
  max-width: 35em
}

a:link, a:visited {
  color: black;
  text-decoration: underline;
}
a:hover {
  background: rgba(0,0,0,0.05);
}

main {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2em;
}
main aside {
  flex: 1;
  padding: 2em;
}
main aside h4 {
  color: #ddd;
}
main aside ul {
  padding-left: 0;
  list-style: none;
}

main aside li {
  margin: .5em 0;
}
main aside>ul>li {
  font-weight: bold;
  padding-bottom: 0.5em;
}
main aside>ul>li>ul>li {
  font-weight: normal;
}
main aside>ul>li>ul>li ul {
  padding-left: 1em;
}

main article {
  padding: 2em;
}
main .edit-links {
  text-align: right;
  padding: 4em 2em 1em;
}
main .edit-links a {
  padding: 0.5em;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.05);
  border-radius: 2px;
  display: inline-block;
}
main .edit-links a svg {
  vertical-align: -2px;
}
