<!DOCTYPE html>
<html lang="en">

  {% include head.liquid %}

  <body class="{% if page.toc != false and site.toc == true or page.toc == true %}with-toc{% endif %} {% if site.show_navigation == true %}with-site-nav{% endif %}">

    {% include foundation-nav.liquid %}
        
    {% include header.liquid %}

    <hr>

    {% include main.liquid %}

    <hr>

    {% include footer.liquid %}

    {% include foundation-nav.liquid %}

    {% include foundation-footer.liquid %}

  </body>

</html>
