<!DOCTYPE html>
<html>

  {% include head.liquid %}

  <body>

    {% include foundation-nav.liquid %}

    <hr>
        
    {% include header.liquid %}

    <hr>

    {% include main.liquid %}

    <hr>

    {% include footer.liquid %}

  </body>

</html>
